@import '../theme';

@aui-dropdown2-bg-color: @aui-color-white;
@aui-dropdown2-border-color: @ak-color-N40; // to match the lightness of the faux border in the "z200" shadow
@aui-dropdown2-trigger-color: @aui-text-color;
@aui-dropdown2-trigger-active-color: @aui-color-white;
@aui-dropdown2-disabled-text-color: @aui-color-gray;
@aui-dropdown2-disabled-hover-text-color: @aui-color-medium-gray;
@aui-dropdown2-disabled-hover-bg-color: @aui-color-light-gray;
@aui-dropdown2-trigger-disabled-color: @aui-dropdown2-disabled-text-color;
@aui-dropdown2-header-text-color: @aui-nav-heading-text-color;

@aui-dropdown2-border-radius: @aui-border-radius-small;
