@import '../theme';

@aui-single-select-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
@aui-single-select-bg-color: @aui-color-white;
@aui-single-select-text-color: @aui-color-charcoal;
@aui-single-select-active-bg-color: @aui-color-bright-blue-1;
@aui-single-select-active-text-color: @aui-color-white;
