@import '../aui-theme/core/colors';

@aui-focus-ring-color: @ak-color-B100;

#aui {
    .with-focus-ring(@color: @aui-focus-ring-color, @outline-width: 2px) {
        outline: none;
        box-shadow: 0 0 0 @outline-width @color;
    }

    .focus-ring(@color: @aui-focus-ring-color, @outline-width: 2px) {
        &:focus {
            #aui.with-focus-ring(@color, @outline-width);
        }
    }
}
