---
component: Form notifications
analytics:
  pageCategory: component
  component: form-notification
design: https://design.atlassian.com/latest/product/components/forms/
status:
  api: experimental
  core: false
  wrm: com.atlassian.auiplugin:aui-form-notification
  amd: aui/form-notification
  experimentalSince: 5.7
---

<h2>Summary</h2>
<p>Form validation is used to provide an interface for validating form fields, and displaying feedback on problems.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<article class="aui-flatpack-example">
    <form class="aui">
        <div class="field-group">
            <label for="demo-info-message">Input with an info notification</label>
            <input id="demo-info-message" class="text" type="text"
                   data-aui-notification-field=""
                   data-aui-notification-info="Choose a username at least 6 characters long"><span
                class="aui-icon aui-icon-small aui-icon-notification" original-title=""></span>
        </div>
    </form>
    <form class="aui">
        <div class="field-group">
            <label for="demo-error-message">Input with multiple error notifications</label>
            <input id="demo-error-message" class="text" type="text"
                   data-aui-notification-field=""
                   data-aui-notification-error="[&quot;This field has a problem&quot;,&quot;In fact, it has two problems&quot;]"><span
                class="aui-icon aui-icon-small aui-icon-notification" original-title=""></span>
        </div>
    </form>
</article>

<h2>Code</h2>

<h3>HTML</h3>
<p>Create a field with the attribute <code>data-aui-notification-field</code>.</p>

<h4>Info messages</h4>

<p>Information about a field can be communicated by adding the <code>data-aui-notification-info</code> data attribute. The value of this attribute should be the message you wish to place on the field</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message">Input with an info notification</label>
                <input id="demo-info-message" class="text" type="text" data-aui-notification-field data-aui-notification-info="Choose a username at least 6 characters long">
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h4>Error messages</h4>

<p>In the same way, you may put error messages on the field with the <code>data-aui-notification-error</code> data attribute.</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message">Input
                    with an error notification</label>
                <input id="demo-info-message" class="text" type="text" data-aui-notification-field data-aui-notification-error="There is a problem with this field">
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h4>Stacked messages</h4>

<p>You can stack multiple messages on a field at the same time. This can be done by making the array a JSON array string.</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message">Input with multiple error notifications</label>
                <input id="demo-info-message" class="text" type="text" data-aui-notification-field data-aui-notification-error='["This field has a problem","In fact, it has two problems"]'>
            </div>
        </form>
    </noscript>
</aui-docs-example>
