---
component: Tables
analytics:
  pageCategory: component
  component: table
design: https://design.atlassian.com/latest/product/components/tables/
status:
  api: general
  core: true
  wrm: com.atlassian.auiplugin:table
  amd: false
  experimentalSince: 2.2
  generalSince: 3.0
---

<h2>Summary</h2>
<p>Tables are used to make large volumes of data easy to understand and to access.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>

<aui-docs-example live-demo id="table-example-indeterminate">
    <noscript is="aui-docs-code" type="text/html">
        <table class="aui">
            <thead>
                <tr>
                    <th id="basic-number">#</th>
                    <th id="basic-fname">First name</th>
                    <th id="basic-lname">Last name</th>
                    <th id="basic-username">Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="basic-number">1</td>
                    <td headers="basic-fname">Matt</td>
                    <td headers="basic-lname">Bond</td>
                    <td headers="basic-username">mbond</td>
                </tr>
                <tr>
                    <td headers="basic-number">2</td>
                    <td headers="basic-fname">Ross</td>
                    <td headers="basic-lname">Chaldecott</td>
                    <td headers="basic-username">rchaldecott</td>
                </tr>
                <tr>
                    <td headers="basic-number">3</td>
                    <td headers="basic-fname">Henry</td>
                    <td headers="basic-lname">Tapia</td>
                    <td headers="basic-username">htapia</td>
                </tr>
            </tbody>
        </table>
    </noscript>
</aui-docs-example>

<p>The core AUI Tables API is markup-only. All it requires is some HTML on the page, the CSS will automatically be applied. There is no JavaScript to configure or set up (note extensions such as Sortable Tables do require JavaScript).</p>
<p>The following example shows the markup pattern required for AUI Tables.</p>

<aui-docs-example live-demo id="table-example-indeterminate">
    <noscript is="aui-docs-code" type="text/html">
        <table class="aui">
            <thead>
                <tr>
                    <th id="name">Name</th>
                    <th id="type">Type</th>
                    <th id="order">Order</th>
                    <th id="action">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="name">Default</td>
                    <td headers="type">Internal Directory</td>
                    <td class="order" headers="order">
                        <ul class="menu">
                            <li>
                                <a class="down" href="#">Down</a>
                            </li>
                        </ul>
                    </td>
                    <td class="action" headers="action">
                        <ul class="menu">
                            <li>
                                <a href="#">An Action</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td headers="name">Corporate LDAP</td>
                    <td headers="type">Microsoft Active Directory</td>
                    <td class="order" headers="order">
                        <ul class="menu">
                            <li>
                                <a class="up" href="#">Up</a>
                            </li>
                            <li>
                                <a class="down" href="#">Down</a>
                            </li>
                        </ul>
                    </td>
                    <td class="action" headers="action">
                        <ul class="menu">
                            <li>
                                <a href="#">An Action</a>
                            </li>
                            <li>
                                <a href="#">Another Action</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </noscript>
</aui-docs-example>

<p>You can use <code>aui-table-list</code> CSS class. When present, this CSS class will:</p>
<ul>
    <li>remove border lines between table rows.</li>
    <li>add a <code>:hover</code> and <code>:focus-within</code> style to a row.</li>
</ul>

<p>To make row "subtle" add <code>aui-row-subtle</code> CSS class to any row.</p>

<aui-docs-example live-demo id="table-example-indeterminate">
    <noscript is="aui-docs-code" type="text/html">
        <table class="aui aui-table-list" style="width: 500px">
            <thead>
                <tr>
                    <th id="author">Author</th>
                    <th id="commit">Commit</th>
                    <th id="date">Commit date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="author">
                        <span class="aui-avatar aui-avatar-xsmall">
                            <span class="aui-avatar-inner">
                                <img src="images/avatar-alana.jpg" alt="Alana" />
                            </span>
                        </span>
                        Alana
                    </td>
                    <td headers="commit">
                        <a href="#">2585eafcbca</a>
                    </td>
                    <td headers="date">1 hour ago</td>
                </tr>
                <tr class="aui-row-subtle">
                    <td headers="author">
                        <span class="aui-avatar aui-avatar-xsmall">
                            <span class="aui-avatar-inner">
                                <img src="images/avatar-emma.jpg" alt="Emma" />
                            </span>
                        </span>
                        Emma
                    </td>
                    <td headers="commit">
                        <a href="#">057e4fa1472</a>
                    </td>
                    <td headers="date">2 hours ago</td>
                </tr>
                <tr>
                    <td headers="author">
                        <span class="aui-avatar aui-avatar-xsmall">
                            <span class="aui-avatar-inner">
                                <img src="images/avatar-harvey.jpg" alt="Harvey" />
                            </span>
                        </span>
                        Harvey
                    </td>
                    <td headers="commit">
                        <a href="#">6ba504ba68a</a>
                    </td>
                    <td headers="date">Yesterday</td>
                </tr>
                <tr>
                    <td headers="author">
                        <span class="aui-avatar aui-avatar-xsmall">
                            <span class="aui-avatar-inner">
                                <img src="images/avatar-jose.jpg" alt="Jose" />
                            </span>
                        </span>
                        Jose
                    </td>
                    <td headers="commit">
                        <a href="#">96cae8b6ddc</a>
                    </td>
                    <td headers="date">3 days ago</td>
                </tr>
                <tr>
                    <td headers="author">
                        <span class="aui-avatar aui-avatar-xsmall">
                            <span class="aui-avatar-inner">
                                <img src="images/avatar-mia.jpg" alt="Mia" />
                            </span>
                        </span>
                        Mia
                    </td>
                    <td headers="commit">
                        <a href="#">bf6c9e853ac</a>
                    </td>
                    <td headers="date">5 days ago</td>
                </tr>
                <tr>
                    <td headers="author">
                        <span class="aui-avatar aui-avatar-xsmall">
                            <span class="aui-avatar-inner">
                                <img src="images/avatar-william.jpg" alt="William" />
                            </span>
                        </span>
                        William
                    </td>
                    <td headers="commit">
                        <a href="#">711e734b705</a>
                    </td>
                    <td headers="date">1 week ago</td>
                </tr>
            </tbody>
        </table>
    </noscript>
</aui-docs-example>

<p>Table element usage:</p>

<table class="aui">
    <thead>
    <tr>
        <th>Element</th>
        <th>Optional</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><aui-docs-component>table class="aui"</aui-docs-component></td>
        <td></td>
        <td>Root element.</td>
    </tr>
    <tr>
        <td><aui-docs-component>table class="aui aui-table-list"</aui-docs-component></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">Optional</span></td>
        <td>Add <code>aui-table-list</code> CSS class for table-based lists.</td>
    </tr>
    <tr>
        <td><aui-docs-component>thead</aui-docs-component></td>
        <td></td>
        <td>Used to group table heading elements. All cells inside THEAD should be TH, not TD.</td>
    </tr>
    <tr>
        <td><aui-docs-component>th</aui-docs-component></td>
        <td></td>
        <td>Used for all table heading cells, either in THEAD for a top row, or as the first cell in a table with headings in the first column.</td>
    </tr>
    <tr>
        <td><aui-docs-component>tfoot</aui-docs-component></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">Optional</span></td>
        <td>Used to group table footer elements.</td>
    </tr>
    <tr>
        <td><aui-docs-component>tbody</aui-docs-component></td>
        <td></td>
        <td>Used to group together table content elements. Your table can include more than one TBODY, the start of each new TBODY will be emphasized with a slightly thicker border.</td>
    </tr>
    <tr>
        <td><aui-docs-component>tr</aui-docs-component></td>
        <td></td>
        <td>Used in THEAD, TFOOT and TBODY to section table elements into rows.</td>
    </tr>
    <tr>
        <td><aui-docs-component>tr class="aui-row-subtle"</aui-docs-component></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">Optional</span></td>
        <td>Add <code>aui-row-subtle</code> CSS class for subtle row. Valid only if you add <code>aui-table-list</code> CSS class for table</td>
    </tr>
    <tr>
        <td><aui-docs-component>td</aui-docs-component></td>
        <td></td>
        <td>Used in TBODY and TFOOT to display table contents.</td>
    </tr>
    <tr>
        <td><aui-docs-component>ul class="menu"</aui-docs-component></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">Optional</span></td>
        <td>Used in table content elements to automatically remove bullets and float list items neatly to the left.</td>
    </tr>
    </tbody>
</table>
