{{#with status}}
<table class="aui summary">
    <tbody>
    {{#if api}}
    <tr>
        <th scope="row">API status:</th>
        <td>
            {{#compare api "general"}}
                <span class="aui-lozenge aui-lozenge-success">general</span>
            {{/compare}}
            {{#compare api "experimental"}}
                <span class="aui-lozenge aui-lozenge-current">experimental</span>
            {{/compare}}
            {{#compare api "deprecated"}}
                <span class="aui-lozenge aui-lozenge-error">deprecated</span>
            {{/compare}}
        </td>
    </tr>
    {{/if}}
    <tr>
        <th scope="row">Included in AUI core?</th>
        <td>
        {{#if core}}
            Yes. You do not need to explicitly require the web resource key.
        {{else}}
            <span class="aui-lozenge aui-lozenge-current">Not in core</span>
            You must explicitly require the web resource key.
        {{/if}}
        </td>
    </tr>
    <tr>
        <th scope="row">Web resource key:</th>
        <td class="resource-key"{{#if wrm}} data-resource-key="{{wrm}}"{{/if}}>
            {{#if wrm}}
                <code>{{wrm}}</code>
            {{else}}
                N/A
            {{/if}}
        </td>
    </tr>
    <tr>
        <th scope="row">AMD Module key:</th>
        <td class="resource-key">
        {{#if amd}}
            <code>require('{{amd}}')</code>
        {{else}}
            N/A
        {{/if}}
        </td>
    </tr>
    {{#if experimentalSince}}
    <tr>
        <th scope="row">Experimental API:</th>
        <td>{{experimentalSince}}</td>
    </tr>
    {{/if}}
    {{#if generalSince}}
    <tr>
        <th scope="row">General API:</th>
        <td>{{generalSince}}</td>
    </tr>
    {{/if}}
    {{#if webComponentSince}}
        <tr>
            <th scope="row">Web Component API:</th>
            <td>{{webComponentSince}}</td>
        </tr>
    {{/if}}
    </tbody>
</table>
{{/with}}
