#soy-test > section {
    margin-top: 50px;
}
#soy-test > section > * {
    margin-top: 50px;
}

section > .aui-dd-parent {
    width: 200px;
}
section > .aui-dd-parent.dd-allocated a.aui-dd-trigger {
    background-color: red;
    position: relative;
    left: 187px;
}

.my-toolbar-icon:after {
    content: '!';
}

.aui-button .aui-icon {
    background: black;
    color: white;
    min-height: 16px;
    min-width: 16px;
    margin-right: 5px;
}
.aui-button .icon-custom-class {
    background: green;
    color: white;
    min-height: 16px;
    min-width: 16px;
    margin-right: 5px;
}
